body {
    box-sizing: border-box;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-container {
    width: 260px;
    border-radius: 5px;
    box-shadow: 8px 10px 42px -21px rgba(0,0,0,0.75);
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0;
    padding: 20px;
}

.top, 
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature {
    font-weight: 600;
    font-size: 50px;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -5px;
    margin: 10px 0;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 5px;
    gap: 10px;
}

.value {
    text-align: start;
    font-weight: 600;
}

.details {
    width: 45%;
    padding: 10px 0 10px 10px;
    border-left: 1px solid #999;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    margin: 0;
}

.weather-icon {
    width: 100px;
}