.content-container {
    width: 300px;
    border-radius: 5px;
    box-shadow: 8px 10px 42px -21px rgba(0,0,0,0.75);
    background-color: white;
    margin: 20px auto 0;
    padding: 20px;
}

.top, 
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    margin: 0;
}

.weather-icon {
    width: 100px;
}